@use 'vars/colors';
@use 'vars/displays';
@use 'vars/fonts';
@use 'vars/mixins';
@import 'specifications/hrefs-style';
@import '_container.scss';
@import 'specifications/little-shit';
header {
  left: 0;
  position: fixed;
  width: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  background: rgb(105,118,195);
  background: linear-gradient(90deg, rgba(105,118,195,1) 15%, rgba(137,24,236,1) 30%, rgba(51,63,170,1) 84%);
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.about {
  margin-top: 0;
}
.intro {
  margin-top: 0;
  background-image: url("../images/header-background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.social__icon {
  margin-left: 20px;
}
.header-container {
  max-width: 100% !important;
}

/******************************* for mobiles ****************/
@include mixins.telephone_responsive(displays.$sm - 168px) {
  header {
    padding: 0;
    height: 64px;
    justify-content: space-around;

    .logo > svg {
      width: 170px;
      height: 38px;
    }
    .social__icon {
      margin-left: 5px;
    }
  }
}
@include mixins.responsive(displays.$xs, displays.$sm - 50px) {
  header {
    justify-content: space-around;
    .menu {
      width: 100%;
    }
    ul {
      width: 100%;
      justify-content: space-around;
      gap: 16px!important;
    }
  }
  header > .logo {
    display: none;
  }
}
@include mixins.telephone_responsive(displays.$lg - 1px) {
  header {
    align-items: center;
  }
  .menu {
    ul {
      gap: 40px;
    }
  }
  .social {
    display: none;
  }
}
@include mixins.responsive(1920px, 9999px) {
  .intro {
    height: 900px!important;
  }
  main {
    .projects {
      margin-top: 180px;
    }
  }
}
/*************************** for opera **********/
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
  .intro {
    height: 900px!important;
  }
}
/***************************** for pixelperfect **********************/
@include mixins.responsive(displays.$xl, 9999px) {
  .menu {
    display: flex;
    justify-content: space-between;
    margin-left: 62px;
  }
  .logo__img {
    margin-left: 15px;
  }
}
