/*************************** font-styles **************/
$hrefs_style:  'Source Sans Pro', sans-serif;
$titles_style:  'Montserrat', sans-serif;
$subtitles_style: 'Montserrat', sans-serif;
$text_style:  'Open Sans', sans-serif;
$buttons-font_style:  'Montserrat', sans-serif;
$data-font_style: 'Open Sans', italic;
/************************ font-weights *************/
$title_weight: 700;
$subtitle_weight: 400;
$text_weight: 400;
/************************ font-sizes ****************/
$h1_font-size: 80px;
$h2_font-size: 44px;
$overhead_font-size: 22px;
$subtitle_font-size: 18px;
$text_font-size: 18px;
$location_font-size: 15px;
$button_font-size: 14px;
$nav_font-size: 14px;
$data_font-size: 14px;
$copyright_font-size: 14px;

