@use '../vars/colors';
@use '../vars/displays';
@use '../vars/fonts';
@use '../vars/mixins';
@import '../container';

.latest-news__slider {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  img {
    margin: 0 auto;
  }
}
.latest-news__slider_dots {
  display: flex;
  justify-content: space-around;
  width: 40px;
  position: absolute;
  bottom: 12.5%;
  left: 53%;
  height: 23px;
  ul {
    width: 200px;
    justify-content: space-between;
  }
}
.slick-prev {
  margin-right: 3%;
  left: -84px;
}
.slick-prev:before {
  content:  url("../../images/arrow_left.svg");
}
.slick-next {
  height: 56px;
  right: -66px;
}
.slick-next:after {
  content: url("../../images/arrow_right.svg");
}
/******************* for normal seeings ***********/
@include mixins.responsive(displays.$xs, displays.$lg-min - 1px) {
  .latest-news__slider_dots {
    left: 56%;
  }
}
@include mixins.responsive(displays.$xs, displays.$xs + 80px) {
  .item > img {
    width: 340px;
  }
  .latest-news__slider_dots {
    left: 63%;
  }
}
@include mixins.responsive(displays.$sm - 84px, displays.$lg-min - 1px) {
  .latest-news {
    img {
      width: 300px;
    }
  }
}
@include mixins.responsive(displays.$lg, displays.$xl + 140px ) {
  .latest-news {
    img {
      width: 330px;
    }
  }
}
/******************* for arrows **************/
@include mixins.responsive(displays.$xs, displays.$xl + 159px) {
.slick-prev, .slick-next {
  display: none!important;
  }
}