@use '../vars/colors';
@use '../vars/displays';
@use '../vars/fonts';
@use '../vars/mixins';
@import '../container';

.latest-news__slider {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  img {
    margin: 0 auto;
  }
}
.latest-news__slider_dots {
  position: static;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  ul {
    width: 200px;
    position: static;
    justify-content: space-between;
  }
}
.slick-prev {
  margin-right: 3%;
  left: -84px;
}
.slick-prev:before {
  content:  url("../images/arrow_left.svg");
}
.slick-next {
  height: 56px;
  right: -66px;
}
.slick-next:after {
  content: url("../images/arrow_right.svg");
  @include mixins.responsive(displays.$xs, displays.$xs + 80px) {
    .item > img {
      width: 340px;
    }
  }
}
  @include mixins.responsive(displays.$lg, displays.$xl + 140px) {
    .latest-news {
      img {
        width: 330px;
      }
    }
  }
  /******************* for arrows **************/
  @include mixins.responsive(displays.$xs, displays.$xl + 159px) {
    .slick-prev, .slick-next {
      display: none !important;
    }
  }