@use '../vars/colors';
@use '../vars/displays';
@use '../vars/fonts';
@use '../vars/mixins';
@import '../container';
@import '../specifications/latest-news__slider';
.latest-news {
  position: relative;
  margin-top: 145px;
  background-image: url("../../images/Background.jpg");
  height: 117vh;
  width: 100vw;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 120px;
  text-align: center;
  &__title {
    margin-top: 28px;
    margin-bottom: 93px;
  }
}
