@use '../vars/colors';
@use '../vars/displays';
@use '../vars/fonts';
@use '../vars/mixins';
@import '../container';
@import '../specifications/latest-news__slider';
.latest-news {
  position: relative;
  margin-top: 119px;
  background-image: url("../../images/Background.jpg");
  height: 107vh;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 120px;
  text-align: center;
  &__title {
    margin-top: 28px;
    margin-bottom: 93px;
  }
  .border {
    width: 100px;
  }
}
